<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Medicines</title>
    <link rel="stylesheet" href="../styles/main.css" />
  </head>
  <body>
    <nav>
      <a href="../index.html">Volver pagina principal</a>
    </nav>

    <h1>Medicamentos</h1>
    <div class="filter">
      <div class="filters">
        <h4 id="filtros">>>Filtrado de los medicamentos</h4>
        <ul id="list">
          <li><input type="checkbox" class="group" value="Fiebre" />Fiebre</li>
          <li><input type="checkbox" class="group" value="Dolor" />Dolor</li>
          <li><input type="checkbox" class="group" value="Antiinflamatorio"/>antiinflamatorios</li>
          <li><input type="checkbox" class="group" value="Infeccion" />Para la infeccion</li>
        </ul>
      </div>

      <div class="search">
        <h4>Buscar medicamento</h4>
        <input
          type="text"
          id="searchBar"
          placeholder="Ingrese el nombre del medicamento"
        />
      </div>
    </div>
    <div class="info_general">
      <div class="medicineList">
        <h3>Paracetamol</h3>
        <p>
          El paracetamol alivia el dolor y baja la fiebre. El uso de paracetamol
          a dosis elevada puede dañar el hígado. El riesgo es mayor en pacientes
          que consumen alcohol de forma continua, toman varios fármacos a la
          vez, en ancianos y en personas con bajo peso.
        </p>
        <h4>Fiebre</h4>
        <img src="../assets/medicine/paracetamol.jpg" />
      </div>
      <div class="medicineList">
        <h3>Dolocordralan</h3 >
        <p>
          Dolocordralan es un medicamento que contiene dos principios activos:
          paracetamol y diclofenaco, el paracetamol es un analgésico y
          antipirético, mientras que el diclofenaco es un antiinflamatorio no
          esteroideo (AINE).
        </p>
        <h4>Dolor</h4>
        <img src="../assets/medicine/dolocordralan.png" />
      </div>
      <div class="medicineList">
        <h3>Ibuprofeno</h3>
        <p>
          Antiinflamatorio no esteroideo (AINE) disponible sin receta médica y
          actúa inhibiendo la producción de prostaglandinas en todo el cuerpo.
        </p>
        <h4>Fiebre</h4>
        <img src="../assets/medicine/ibuprofeno.jpg" />
      </div>
      <div class="medicineList">
        <h3>Dexametazona</h3>
        <p>
          La dexametasona reduce los efectos de los antidiabéticos y potencia la
          hipocaliemia de diferentes diuréticos y glucósidos cardiotónicos. La
          acción del corticoide aumenta si se combina con estrógenos y disminuye
          si se usa con aminoglutetimida, carbamazepina, fenitoína o
          rifampicina.
        </p>
        <h4>Fiebre</h4>
        <img src="../assets/medicine/dexametasona.jpg" />
      </div>
      <div class="medicineList">
        <h3>Vitamina C</h3>
        <p>
          Conocida como ácido ascórbico, es un nutriente hidrosoluble que se
          encuentra en ciertos alimentos. En el cuerpo, actúa como antioxidante,
          al ayudar a proteger las células contra los daños causados por los
          radicales libres.
        </p>
        <h4>Fiebre</h4>
        <img src="../assets/medicine/vitamina-c.jpg" />
      </div>
      <div class="medicineList">
        <h3>Naproxeno</h3>
        <p>
          Actúa inhibiendo la producción de prostaglandinas en todo el cuerpo y
          tiene una acción más prolongada que el ibuprofeno
        </p>
        <h4>Fiebre</h4>
        <img src="../assets/medicine/naproxeno.jpg" />
      </div>
      <div class="medicineList">
        <h3>Diclofenaco (Uso Externo)</h3>
        <p>
          Actúa inhibiendo la producción de prostaglandinas en todo el cuerpo y
          tiene propiedades antiinflamatorias y analgésicas potentes.
        </p>
        <h4>Antiinflamatorio</h4>
        <img src="../assets/medicine/diclofenaco.jpg" />
      </div>
      <div class="medicineList">
        <h3>Ketorolaco</h3>
        <p>
          Actúa inhibiendo la producción de prostaglandinas en todo el cuerpo y
          es un analgésico potente y se usa para el dolor a corto plazo.
        </p>
        <h4>Dolor</h4>
        <img src="../assets/medicine/ketorolaco.jpg" />
      </div>
      <div class="medicineList">
        <h3>Amoxicilina</h3>
        <p>
          La amoxicilina es un antibiótico de la familia de las penicilinas que
          se utiliza para tratar una amplia gama de infecciones bacterianas.
          Actúa destruyendo las bacterias que causan la enfermedad.
        </p>
        <h4>Infeccion</h4>
        <img src="../assets/medicine/amoxicilina.jpg" />
      </div>
      <div class="medicineList">
        <h3>Azitromicina</h3>
        <p>
          La azitromicina es un antibiótico de la clase de los macrólidos que se
          utiliza para tratar una amplia gama de infecciones bacterianas. Actúa
          inhibiendo la síntesis de proteínas de las bacterias, lo que impide su
          crecimiento y reproducción.
        </p>
        <h4>Infeccion</h4>
        <img src="../assets/medicine/azitromicina.png" />
      </div>
      <div class="medicineList">
        <h3>Ciprofloxacino</h3>
        <p>
          El ciprofloxacino es un antibiótico de la clase de las
          fluoroquinolonas que se utiliza para tratar una amplia gama de
          infecciones bacterianas. Actúa bloqueando una enzima esencial para la
          replicación del ADN de las bacterias, lo que impide su crecimiento y
          reproducción.
        </p>
        <h4>Infeccion</h4>
        <img src="../assets/medicine/ciprofloxacino.jpg" />
      </div>
      <div class="medicineList">
        <h3>Cefaclor</h3>
        <p>
          El cefaclor, es un antibiótico de segunda generación perteneciente a
          la clase de las cefalosporinas. Se utiliza para tratar una amplia gama
          de infecciones bacterianas que afectan diferentes partes del cuerpo.
        </p>
        <h4>Infeccion</h4>
        <img src="../assets/medicine/ceflacor.jpg" />
      </div>
      <div class="medicineList">
        <h3>Cefalexina</h3>
        <p>Antibiótico cefalosporínico de primera generación.</p>
        <h4>Infeccion</h4>
        <img src="../assets/medicine/cefalexina.jpg" />
      </div>
      <div class="medicineList">
        <h3>Levofloxacino</h3>
        <p>Antibiótico fluoroquinolónico de amplio espectro.</p>
        <h4>Infeccion</h4>
        <img src="../assets/medicine/levofloxacino.jpg" />
      </div>
      <div class="medicineList">
        <h3>Metronidazol</h3>
        <p>Antibiótico nitroimidazólico.</p>
        <h4>Infeccion</h4>
        <img src="../assets/medicine/metronidazol.png" />
      </div>
      <div class="medicineList">
        <h3>Clindamicina</h3>
        <p>Antibiótico lincosamida.</p>
        <h4>Infeccion</h4>
        <img src="../assets/medicine/clindamicina.jpg" />
      </div>
      <div class="medicineList">
        <h3>Doxiciclina</h3>
        <p>Antibiótico tetraciclina.</p>
        <h4>Infeccion.</h4>
        <img src="../assets/medicine/doxiciclina.jpg" />
      </div>
      <div class="medicineList">
        <h3>Trimetoprim-sulfametoxazol</h3>
        <p>
          Combinación de un antibiótico de la familia de las trimetoprimas y un
          sulfamida.
        </p>
        <h4>Infeccion</h4>
        <img src="../assets/medicine/trimetoprim-sulfametoxazol.jpg" />
      </div>
      <div class="medicineList">
        <h3>Gentamicina (inyectable)</h3>
        <p>Antibiótico aminoglucósido.</p>
        <h4>Infeccion</h4>
        <img src="../assets/medicine/gentamicina.png" />
      </div>
      <div class="medicineList">
        <h3>Vancomicina (inyectable)</h3>
        <p>Antibiótico glicopéptido.</p>
        <h4>Infeccion</h4>
        <img src="../assets/medicine/vancomicina.jpg" />
      </div>
      <div class="medicineList">
        <h3>Linezolid</h3>
        <p>Antibiótico oxazolidinona.</p>
        <h4>Infeccion</h4>
        <img src="../assets/medicine/linezolid.webp" />
      </div>
      <div class="medicineList">
        <h3>Daptomicina</h3>
        <p>Antibiótico lipoide.</p>
        <h4>Infeccion</h4>
        <img src="../assets/medicine/daptomicina.jpg" />
      </div>
      <div class="medicineList">
        <h3>Colchicina</h3>
        <p>
          Se puede usar para prevenir o tratar un ataque de gota (inflamacion
          por el acido urico). Si se toma al inicio de un ataque, puede ayudar a
          aliviar los síntomas rápidamente y acortar la duración del ataque.
        </p>
        <h4>Antiinflamatorio</h4>
        <img src="../assets/medicine/colchicina.jpg" />
      </div>
    </div>

    <script src="../src/main.js"></script>
  </body>
</html>
